@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

body {
  font-family: "Instrument Sans", sans-serif;
}

.loader {
  display: flex;
  justify-content: center;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 1px solid #3498db;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}